body{
    background-color: whitesmoke;
}
a{
    text-decoration: none;
    border: 1px solid gray;
    padding: 8px;
    border-radius: 10px;
    transition-duration: 500ms;
}
a:visited{
    color: black;
}
a:hover{
    background-color: #b6b9b95c;;
    transition-duration: 500ms;
}